/* 39C3 Font Faces */

@font-face {
  font-family: "Kario39C3";
  src:
    url("../fonts/Kario39C3VarWEB-Roman.woff2") format("woff2"),
    url("../fonts/Kario39C3VarWEB-Roman.woff") format("woff"),
    url("../fonts/Kario39C3Var-Roman.ttf") format("truetype");
  font-weight: 10 100;
  font-stretch: 30% 160%;
  font-display: swap;
}

@font-face {
  font-family: "OfficerSans";
  src:
    url("../fonts/OfficerSansWeb-Regular.woff2") format("woff2"),
    url("../fonts/OfficerSansWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficerSans";
  src:
    url("../fonts/OfficerSansWeb-Bold.woff2") format("woff2"),
    url("../fonts/OfficerSansWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OfficerSans";
  src:
    url("../fonts/OfficerSansWeb-RegularItalic.woff2") format("woff2"),
    url("../fonts/OfficerSansWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OfficerSans";
  src:
    url("../fonts/OfficerSansWeb-BoldItalic.woff2") format("woff2"),
    url("../fonts/OfficerSansWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
